/* Light theme (default) */
:root {
  /* brand colors */
  --color-brand-primary-subtle: #0d6efd;
  --color-brand-primary-default: #0d6efd;
  --color-brand-primary-dark: #0c63e3;
  --color-brand-primary-darkest: #0a58ca;

  --color-brand-danger-subtle: #e95d5d;
  --color-brand-danger-default: #e94646;
  --color-brand-danger-dark: #d03e3e;
  --color-brand-danger-darkest: #b63737;

  --color-brand-success-subtle: #41a37a;
  --color-brand-success-default: #31a373;
  --color-brand-success-dark: #298961;
  --color-brand-success-darkest: #22704f;

  --color-brand-warning-subtle: #e8b720;
  --color-brand-warning-default: #e8b109;
  --color-brand-warning-dark: #e8b720;
  --color-brand-warning-darkest: #cfa31c;
  --color-brand-warning-text: #463708;

  --color-brand-secondary-subtle: #ffffff;
  --color-brand-secondary-default: #d9d9d9;
  --color-brand-secondary-dark: #b0b0b0;
  --color-brand-secondary-darkest: #888888;

  --color-brand-tertiary-subtle: #ffffff;
  --color-brand-tertiary-default: #ffffff;
  --color-brand-tertiary-dark: #d9d9d9;
  --color-brand-tertiary-darkest: #b0b0b0;

  /* other button */
  --button-color-disabled: #b0abab;
}

/* Dark theme */
[data-theme='dark'] {
  --color-brand-tertiary-subtle: #282e33;
  --color-brand-tertiary-default: #282e33;
  --color-brand-tertiary-dark: #38414a;
  --color-brand-tertiary-darkest: #505b66;
}
