html,
body,
#app {
  height: 100%;
}
.forms {
  z-index: 3000;
}
.over {
  z-index: 50;
}

/* Animations */
.slide-in {
  z-index: 1050;
  animation: slide-in 1s forwards;
}

@keyframes slide-in {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
